.impressum-container{
    padding: 1rem;
}

.title {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
}

.impressum-paragraph{
    background-color: #333333;
    padding: 1rem;
    margin-bottom: 10px;
    p{
        margin-bottom: 10px;
    }
}

.span-text{
    color: #00aaff;
}